{% extends 'base.html.twig' %}

{% block title %}{{subCategory.name}}{% endblock %}

{% block body %}


<div class="container ">
    <div class = "block mt-3">
        <div class ="block_title"> <h2>{{subCategory.name}}</h2> | <a class= 'color_link home_page' href="{{path('app_home')}}">Accueil</a></div>

        <div class="row px-4 py-4">
            {% for product in products %}
                <div class ="col-md-3 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img class = "img_card" src="{{asset('/uploads/images/'~product.image)}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a  class= "product_link" href="{{path('app_home_product_show', {'id':product.id})}}"><h5 class="card-title">{{product.name}}</h5></a>
                            <p class="card-text">{{product.description|slice(0,60)}}...</p>
                            <h3>{{ product.price }} EUROS</h3>
                            <a href="{{ path('app_cart_new', {'id':product.id}) }}" class="btn btn-add-to-card">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor  %}
        </div>
    </div>
</div>
{% endblock %}
