{% extends 'base.html.twig' %}

{% block title %}product{% endblock %}

{% block body %}


<div class="container ">
    <div class="card mb-12" style="margin-top:30px" >
    <div class="row g-0 ">
        <div class="col-md-4">
        <img src="{{asset('/uploads/images/'~product.image)}}" class="img_card_show" alt="image du produit">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title-show ">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <h3> <strong>{{ product.price }} €</strong> </h3>
            {% if product.stock > 0 %}
                <p class="card-text text-success">En Stock - Expédié sous 24H</p>
                <a href ="{{ path('app_cart_new', {'id':product.id}) }}" class="btn btn-add-to-card_after_show">Ajouter au panier</a>
            {% else %}
                 <p class="card-text text-danger">Stock épuisé</p>
            {% endif %}
          
        
            <p class="card-text pt-3">Livraison point relais offerte dès 90€<small class="text-muted" style="font-style:italic"> <br>
                (hors articles en promotion)</small></p>
            <p class="card-text">Retours 30j gratuits <br>
             <small class="text-muted" style="font-style:italic">(France métropolitaine) </small></p>
        </div>
        </div>
    </div>
    </div>
    <h2>Derniers produits ajoutés</h2>
        <div class="row">
            {% for product in products %}
                <div class ="col-md-3 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img class = "img_card" src="{{asset('/uploads/images/'~product.image)}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a  class= "product_link" href="{{path('app_home_product_show', {'id':product.id})}}"><h5 class="card-title">{{product.name}}</h5></a>
                            <p class="card-text">{{product.description|slice(0,60)}}...</p>
                            <h3><strong>{{ product.price }} €</strong> </h3>
                            <a href="{{ path('app_cart_new', {'id':product.id}) }}" class="btn btn-add-to-card">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor  %}
        </div>
</div>

{% endblock %}