{% if pageCount > 1 %}

<nav aria-label="..." class = ' pb-2'>
  <ul style="display:flex; align-items:center; justify-content:space-between"class="pagination pagination-block">
    {% if previous is defined %}
        <li class="page-item ">
        <a class="btn btn_pagination" href="{{ path(route, query|merge({(pageParameterName):previous}))}}"> Page précédente</a>
        </li>
    {% endif %}
    {% for page in pagesInRange %}
         {% if page != current %}
            <li class="page-item active" aria-current="page">
                <a style="border-radius:50%" href="{{ path(route, query|merge({(pageParameterName):page}))}}" class="page-link">{{page}}</a>
            </li>
        {% else %}
            <li class="page-item active" aria-current="page">
                <a style="border-radius:50%; color: #FF6911; border-color:#FF6911" href="{{ path(route, query|merge({(pageParameterName):page}))}}" class="page-link ">{{page}}</a>
            </li>
        {% endif %}
    {% endfor %}


    {% if next  is defined %}
        <li class="page-item">
        <a class=" btn btn_pagination"  href="{{ path(route, query|merge({(pageParameterName):next}))}}">Page suivante </a>
        </li>
    {% endif %}
  </ul>
</nav>

{% endif %}